# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
calendar.json
components-widget-layout.json
map-config.json
llm.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store


*.md

images/*
!images/preview.png
!images/permissions.png