.component:has(.github-streak-container) {
  width: unset !important;
}
.component:has(.daily-image) {
  margin: 0px auto !important;
}

.component.view-content {
  margin: 0 !important;
  padding: 0 !important;
  &>div {
    border: 0 !important;
  }
}
.setting-item-does {
  /* Base Style: All tags share these properties */
  font-size: 0.75em;
  font-weight: bold;
  pointer-events: none !important;
  cursor: auto;
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  /* Use the defined text color variable */
  color: var(--tag-text-color);
  filter: brightness(75%);
  --tag-text-color: var(--text-on-accent);
  background-color: var(--color-accent);
  & ~ .setting-item-does {
    margin-left: 4px;
  }
}

.checkbox-container,
.checkbox-container::before,
.checkbox-container input,
.setting-item-control .checkbox-container,
.setting-item-control .checkbox-container::before {
    transition: all 0.4s ease-in-out !important;
}
.setting-item-indented {
    margin-left: 30px;
    padding-left: 15px;
}


.modal .modal-content {
  padding-top: 10px !important;
}
.confirmation-modal h2 {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}
.confirmation-modal p {
  margin-bottom: 20px;
  line-height: 1.4;
}